@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --light-blue: #5DADE2;
  --dark-blue: #1F618D;
  --light-gray: #c8bbbbcb;
}

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  width: 75%;
  margin: 0 auto;
  background-color: var(--light-blue);
  color: white;
}

/* whole screen width for mobile devices */
@media (max-width: 768px) {
  .App {
    width: 100%;
  }
}

button {
  background-color: var(--dark-blue);
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  margin: 2px 2px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.timer {
  width: 100 px;
  text-align: center;
}